fastapi==0.115.6
peewee==3.17.8
pydantic==2.10.5
uvicorn==0.34.0
torch==2.0.0
torchvision==0.15.1 -f https://download.pytorch.org/whl/cpu
transformers==4.35.2
tqdm==4.66.1
numpy==1.24.3
scikit-learn==1.2.2
scipy==1.10.1
nltk==3.8.1
sentencepiece==0.1.99
sentence-transformers>=2.2.0
qdrant-client==1.6.3
